<div class="card" id="general-card">
  <div  [ngClass]="{
    'container': true,
    'right-panel-active': defaultState
  }" id="container">

    <div class="form-container sign-up-container">
      <form (ngSubmit)="onRegister()" #myForm="ngForm">

        <h2>REGISTRO NUEVO USUARIO</h2>
        <div class="input-group">
          <label>*Nombre:</label> <br>
          <input name="name" type="text" required id="name" [(ngModel)]="register.name">
          <p>Mensajes de error</p>
        </div>

        <div class="input-group">
          <label>*Correo electrónico:</label> <br>
          <input name="email" type="email" required id="email" [(ngModel)]="register.email">
          <p>Mensajes de error</p>
        </div>

        <div class="input-group">
          <label>*Contraseña:</label> <br>
          <input name="password" type="password" required id="password" [(ngModel)]="register.password">
          <p>Mensajes de error</p>
        </div>

        <button [disabled]="myForm.invalid" type="submit">Registrar</button>

        <div class="socialMedia">
          <div [ngClass]="{'navigation': navigationState,
                          'active': true}" (click)="onNavigationState()">
            <span style="--i:0;--x:-1;--y:0;">
              <ion-icon name="logo-facebook"></ion-icon>
            </span>
            <span style="--i:1;--x:1;--y:0;">
              <ion-icon name="logo-instagram"></ion-icon>
                </span>
                <span style="--i:2;--x:0;--y:-1;">
                  <ion-icon name="logo-twitter"></ion-icon>
                </span>
                <span style="--i:3;--x:0;--y:1;">
                  <ion-icon name="logo-twitch"></ion-icon>
                </span>
                <span style="--i:4;--x:-1;--y:1;">
                  <ion-icon name="logo-youtube"></ion-icon>
                </span>
                <span style="--i:5;--x:-1;--y:-1;">
                  <ion-icon name="logo-discord"></ion-icon>
                </span>
                <span style="--i:6;--x:1;--y:-1;">
                  <ion-icon name="logo-github"></ion-icon>
                </span>
                <span style="--i:7;--x:1;--y:1;">
                  <ion-icon name="logo-codepen" ></ion-icon>
                </span>
          </div>
          <div [ngClass]="{'close': true,
                          'naviagation': navigationState}">
            <ion-icon name="close-outline" (click)="onCloseState()"></ion-icon>
          </div>
        </div>
      </form>
    </div>

    <div class="form-container sign-in-container">
      <form (ngSubmit)="onJoinIn(joinIn.email, joinIn.password)" #signIn="ngForm">

        <h2>INGRESAR A SU CUENTA</h2>

        <div class="input-group">
          <label>*Correo electrónico:</label> <br>
          <input name="email" type="email" required id="email" [(ngModel)]="joinIn.email">
          <p>Mensajes de error</p>
        </div>

        <div class="input-group">
          <label>*Contraseña:</label> <br>
          <input name="password" type="password" required id="password" [(ngModel)]="joinIn.password">
          <p>Mensajes de error</p>
        </div>

        <button [disabled]="signIn.invalid" type="submit">Ingresar</button>

      </form>
    </div>

    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <span>Bienvenido</span>
          <p>para mantenerte conectado a nosotros por favor ingresa tu información</p>
          <button class="ghost" id="signIn" (click)="onState()">Ingresar</button>
        </div>
        <div class="overlay-panel overlay-right">
          <span>Hola, compañero</span>
          <p>Ingresa tu información personal para comenzar este viaje juntos</p>
          <button class="ghost" id="signUp" (click)="onState()">Regístrate</button>
        </div>
      </div>
    </div>

  </div>

</div>

